In [ ]:
import numpy as np
import  pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
# loading the data set to a panda datafame
credit_card_data = pd.read_csv("/content/creditcard.csv")

In [ ]:
# first 5 rows of datset
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [ ]:
#last 5 rows of datset
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
47623,43281,-0.696585,1.108944,1.413769,-0.127104,0.018555,-0.455078,0.587554,0.113729,-0.121544,...,-0.239606,-0.547457,0.045935,0.029361,-0.228841,0.108686,0.388269,0.173609,5.49,0.0
47624,43282,-0.282262,-1.212401,2.174897,-0.181501,-1.604027,-0.332694,-1.154018,0.223029,0.605392,...,-0.444623,-0.224011,0.728520,0.958983,-0.712869,0.908167,-0.054453,-0.107284,10.00,0.0
47625,43282,-1.513495,-0.206282,-0.702405,1.056423,1.058711,-0.708973,0.611571,0.249949,-0.844057,...,0.089904,0.723147,1.244035,-0.526450,-0.267320,-0.336504,0.398350,-0.017047,89.99,0.0
47626,43282,-0.659193,1.270953,0.946464,-0.370180,1.619207,-0.288297,1.588317,-0.492843,-0.829508,...,-0.060858,-0.028588,-0.704004,-0.971430,1.036058,-0.329102,-0.276970,-0.183521,0.99,0.0
47627,43282,1.121749,-0.208202,0.660816,0.857988,-0.823614,-0.422509,-0.286708,0.098616,0.541126,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# datset Info
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47628 entries, 0 to 47627
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    47628 non-null  int64
 1   V1      47628 non-null  float64
 2   V2      47628 non-null  float64
 3   V3      47628 non-null  float64
 4   V4      47628 non-null  float64
 5   V5      47628 non-null  float64
 6   V6      47628 non-null  float64
 7   V7      47628 non-null  float64
 8   V8      47628 non-null  float64
 9   V9      47628 non-null  float64
 10  V10     47628 non-null  float64
 11  V11     47628 non-null  float64
 12  V12     47628 non-null  float64
 13  V13     47628 non-null  float64
 14  V14     47628 non-null  float64
 15  V15     47628 non-null  float64
 16  V16     47628 non-null  float64
 17  V17     47627 non-null  float64
 18  V18     47627 non-null  float64
 19  V19     47627 non-null  float64
 20  V20     47627 non-null  float64
 21  V21     47627 non-null  float64
 22  V22     47627 non-null  float64
 23  V23     47627 non-null  float64
 24  V24     47627 non-null  float64
 25  V25     47627 non-null  float64
 26  V26     47627 non-null  float64
 27  V27     47627 non-null  float64
 28  V28     47627 non-null  float64
 29  Amount  47627 non-null  float64
 30  Class   47627 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 11.3 MB

In [ ]:
# checking number of misssing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [ ]:
# distribution of legit transction and farudulent transction
credit_card_data['Class'].value_counts()

0.0    47481
1.0      146
Name: Class, dtype: int64

In [ ]:
# 0 ----> Normal Transction
# 1 ----> fraudulent Transction

In [ ]:
# seprating the data for analysis
legit = credit_card_data[credit_card_data.Class==0]
fraud = credit_card_data[credit_card_data.Class==1]

In [ ]:
legit.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [ ]:
fraud.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
541,406,-2.312227,1.951992,-1.609851,3.997906,-0.522188,-1.426545,-2.537387,1.391657,-2.770089,...,0.517232,-0.035049,-0.465211,0.320198,0.044519,0.177840,0.261145,-0.143276,0.00,1.0
623,472,-3.043541,-3.157307,1.088463,2.288644,1.359805,-1.064823,0.325574,-0.067794,-0.270953,...,0.661696,0.435477,1.375966,-0.293803,0.279798,-0.145362,-0.252773,0.035764,529.00,1.0
4920,4462,-2.303350,1.759247,-0.359745,2.330243,-0.821628,-0.075788,0.562320,-0.399147,-0.238253,...,-0.294166,-0.932391,0.172726,-0.087330,-0.156114,-0.542628,0.039566,-0.153029,239.93,1.0
6108,6986,-4.397974,1.358367,-2.592844,2.679787,-1.128131,-1.706536,-3.496197,-0.248778,-0.247768,...,0.573574,0.176968,-0.436207,-0.053502,0.252405,-0.657488,-0.827136,0.849573,59.00,1.0
6329,7519,1.234235,3.019740,-4.304597,4.732795,3.624201,-1.357746,1.713445,-0.496358,-1.282858,...,-0.379068,-0.704181,-0.656805,-1.632653,1.488901,0.566797,-0.010016,0.146793,1.00,1.0

In [ ]:
print(legit.shape)
print(fraud.shape)

(47481, 31)
(146, 31)

In [ ]:
# statical measure of the data
legit.Amount.describe()

count    47481.000000
mean        91.749512
std        249.864438
min          0.000000
25%          7.600000
50%         24.990000
75%         83.000000
max      12910.930000
Name: Amount, dtype: float64

In [ ]:
fraud.Amount.describe()

count     146.000000
mean      100.769589
std       234.865142
min         0.000000
25%         1.000000
50%         8.370000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [ ]:
# compare the values for both transcation
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,28187.518523,-0.217647,0.004622,0.729134,0.173144,-0.232960,0.109679,-0.095198,0.041927,0.152781,...,0.046262,-0.029852,-0.106718,-0.038640,0.008178,0.135952,0.022116,0.003026,0.003920,91.749512
1.0,26650.410959,-7.748350,5.502036,-10.507153,6.017631,-5.734345,-2.290523,-8.141188,3.800624,-3.626437,...,0.471417,0.881448,-0.228124,-0.286066,-0.085893,0.253943,0.167237,0.616539,0.037065,100.769589

Under Sampling

Build a sample dataset contaiing similar distribution of normal transction and fraudlent transction

Number of Fraudelent DataSet = 146

In [ ]:
legit_sample = legit.sample(n=146)

In [ ]:
# concatinating two data frames

In [ ]:
new_dataset = pd.concat([legit_sample,fraud],axis=0)

In [ ]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
13871,24628,-1.345153,0.001335,2.811254,-0.761701,0.026696,-0.066165,-0.029167,-0.067116,2.114032,...,-0.249620,-0.198664,-0.083343,0.077386,0.009455,0.849592,-0.459928,-0.096494,15.00,0.0
28968,35259,1.071281,-0.098811,0.759417,1.490569,-0.325048,0.525789,-0.277161,0.132567,0.748448,...,-0.074960,0.119269,-0.159886,-0.222617,0.680004,-0.243071,0.071591,0.027676,46.30,0.0
11059,19083,1.143180,-0.359501,1.035089,-0.680568,-0.887483,0.025857,-0.822137,0.161230,2.820361,...,-0.075493,0.260319,-0.018431,-0.014682,0.375321,-0.714401,0.078455,0.017459,11.85,0.0
2942,2487,1.371927,-0.598738,0.486478,-0.441599,-1.133701,-0.818759,-0.549596,-0.160184,-0.415573,...,-0.016902,0.009651,-0.040057,0.420472,0.547005,-0.245266,0.010494,0.014857,21.00,0.0
44494,41970,1.214643,0.018341,-0.153310,0.057186,-0.349297,-1.228731,0.308163,-0.217850,-0.281580,...,0.021888,-0.053276,-0.084445,0.593493,0.451718,1.040981,-0.128128,-0.014741,33.02,0.0

In [ ]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
45203,42247,-2.524012,2.098152,-4.946075,6.456588,3.173921,-3.058806,-0.184710,-0.390420,-3.649812,...,0.027935,0.220366,0.976348,-0.290539,1.161002,0.663954,0.456023,-0.405682,1.00,1.0
45732,42474,-3.843009,3.375110,-5.492893,6.136378,2.797195,-2.646162,-1.668931,-2.617552,-3.945843,...,-1.277812,0.719652,0.451125,-0.258094,0.656129,0.556676,0.739383,-0.203050,1.00,1.0
46909,42985,-4.075975,0.963031,-5.076070,4.955963,-0.161437,-2.832663,-7.619765,1.618895,-2.992092,...,1.030738,0.165328,-1.017502,-0.477983,-0.304987,-0.106089,1.899714,0.511462,1.00,1.0
46918,42988,-4.423508,1.648048,-6.934388,4.894601,-5.078131,0.010849,-3.409096,1.409291,-3.260672,...,0.698359,0.487478,1.228698,-0.535217,0.388278,-0.009466,2.300164,0.081231,648.00,1.0
46998,43028,-1.109646,0.811069,-1.138135,0.935265,-2.330248,-0.116106,-1.621986,0.458028,-0.912189,...,0.641594,0.841755,0.176728,0.081004,-0.258899,0.707654,0.418649,0.080756,204.27,1.0

In [ ]:
new_dataset['Class'].value_counts()

0.0    146
1.0    146
Name: Class, dtype: int64

In [ ]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,28905.931507,-0.352275,-0.387070,0.725106,0.069499,-0.137872,-0.026628,0.026948,0.153335,0.280078,...,0.233448,-0.013064,-0.151696,-0.070169,-0.013195,0.102419,0.015781,-0.018531,0.009484,153.645822
1.0,26650.410959,-7.748350,5.502036,-10.507153,6.017631,-5.734345,-2.290523,-8.141188,3.800624,-3.626437,...,0.471417,0.881448,-0.228124,-0.286066,-0.085893,0.253943,0.167237,0.616539,0.037065,100.769589

In [ ]:
x = new_dataset.drop(columns='Class',axis=1)
y = new_dataset['Class']

Spliting the data into Features and Traget

In [ ]:
x

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
13871,24628,-1.345153,0.001335,2.811254,-0.761701,0.026696,-0.066165,-0.029167,-0.067116,2.114032,...,-0.204944,-0.249620,-0.198664,-0.083343,0.077386,0.009455,0.849592,-0.459928,-0.096494,15.00
28968,35259,1.071281,-0.098811,0.759417,1.490569,-0.325048,0.525789,-0.277161,0.132567,0.748448,...,-0.050179,-0.074960,0.119269,-0.159886,-0.222617,0.680004,-0.243071,0.071591,0.027676,46.30
11059,19083,1.143180,-0.359501,1.035089,-0.680568,-0.887483,0.025857,-0.822137,0.161230,2.820361,...,-0.158413,-0.075493,0.260319,-0.018431,-0.014682,0.375321,-0.714401,0.078455,0.017459,11.85
2942,2487,1.371927,-0.598738,0.486478,-0.441599,-1.133701,-0.818759,-0.549596,-0.160184,-0.415573,...,0.056142,-0.016902,0.009651,-0.040057,0.420472,0.547005,-0.245266,0.010494,0.014857,21.00
44494,41970,1.214643,0.018341,-0.153310,0.057186,-0.349297,-1.228731,0.308163,-0.217850,-0.281580,...,-0.080704,0.021888,-0.053276,-0.084445,0.593493,0.451718,1.040981,-0.128128,-0.014741,33.02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45203,42247,-2.524012,2.098152,-4.946075,6.456588,3.173921,-3.058806,-0.184710,-0.390420,-3.649812,...,-0.162797,0.027935,0.220366,0.976348,-0.290539,1.161002,0.663954,0.456023,-0.405682,1.00
45732,42474,-3.843009,3.375110,-5.492893,6.136378,2.797195,-2.646162,-1.668931,-2.617552,-3.945843,...,0.054796,-1.277812,0.719652,0.451125,-0.258094,0.656129,0.556676,0.739383,-0.203050,1.00
46909,42985,-4.075975,0.963031,-5.076070,4.955963,-0.161437,-2.832663,-7.619765,1.618895,-2.992092,...,0.058861,1.030738,0.165328,-1.017502,-0.477983,-0.304987,-0.106089,1.899714,0.511462,1.00
46918,42988,-4.423508,1.648048,-6.934388,4.894601,-5.078131,0.010849,-3.409096,1.409291,-3.260672,...,-0.562264,0.698359,0.487478,1.228698,-0.535217,0.388278,-0.009466,2.300164,0.081231,648.00
46998,43028,-1.109646,0.811069,-1.138135,0.935265,-2.330248,-0.116106,-1.621986,0.458028,-0.912189,...,0.168891,0.641594,0.841755,0.176728,0.081004,-0.258899,0.707654,0.418649,0.080756,204.27

In [ ]:
y

13871    0.0
28968    0.0
11059    0.0
2942     0.0
44494    0.0
        ...
45203    1.0
45732    1.0
46909    1.0
46918    1.0
46998    1.0
Name: Class, Length: 292, dtype: float64

Split the data into traing data and testing data

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,stratify=y,random_state=2)

In [ ]:
print(x.shape,x_train.shape,x_test.shape)

(292, 30) (233, 30) (59, 30)

Model Training

Logistic Training

In [ ]:
model = LogisticRegression()

In [ ]:
# traing the Logistic Regression model with traing data
model.fit(x_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

Accuracy Score

In [ ]:
#accuracy score on traing data
x_train_prediction = model.predict(x_train)
training_data_acuracy = accuracy_score(x_train_prediction,y_train)

In [ ]:
print("acccuracy on traing data ----> ",training_data_acuracy)

acccuracy on traing data ----> 0.9570815450643777

In [ ]:
# accuracy on test data
x_test_prediction = model.predict(x_test)
test_data_accuracy = accuracy_score(x_test_prediction,y_test)

In [ ]:
print("acccuracy on test data ----> ",test_data_accuracy)

acccuracy on test data ---->  0.9491525423728814